<div class="card" style="max-height: 19em; overflow: hidden;">
    <div class="card-header">
        <h4 class="card-title">{{ data.title }}</h4>
        <small class="fa fa-trash" style="color: Tomato;" (click)="removeItem()"></small>
    </div>
    <div class="card-body">
        <p class="card-text">{{ data.description }}</p>
    </div>
</div>
<!-- <div class="form-checkbox">
    <input type="checkbox" class="form-check-ipnut position-static" [(ngModel)]="data.isCompleted" (change)="updateItem()">
</div> -->
<!--  -->