<div class="row justify-content-between">
  <div class="col-md-4">
    <!-- new todo  -->
    <app-new-item (created)="updateList()"></app-new-item>
  </div>
  <div class="col-md-6">
    <!-- todo list -->
    <div class="alert alert-info text-center" role="alert" *ngIf="list.length === 0">The list is empty</div>
    <div class="row">
      <div class="col-md-4 mb-md-3" *ngFor="let todo of list">
          <app-item [data]="todo" (deleted)="updateList()" (updated)="updateList()"></app-item>
      </div>
    </div>
  </div>
</div>